body {
    /* background-color: bisque; */
    margin: 0 auto;
    text-align: center;
    color: rebeccapurple;
    font-family: fantasy;
    background: url("https://stmed.net/sites/default/files/question-mark-wallpapers-25286-4122240.jpg");
}

h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 60px;
    color: white;
    /* background: grey; */

}

p {
    font-size: 23px;
    font-weight: bold;
}

/* hr {
    border: solid 1px rebeccapurple;
} */

#display {
    padding-top: 20px;
    /* font-weight: bold; */
    font-size: 30px;

}

#question {
    font-size: 50px;
    font-weight: bold;

}

.container {
    /* border: solid 1px rebeccapurple; */
    margin-top: 25px;
    /* margin-bottom: 15px; */
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(228, 220, 220);
    width: 90%;
}